Repository Ottes42/dmx-controller-agent, changes with the labels that .github/labeler.yaml gives for each.
All labels: docs, device, frontend, script, server, api, base

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: docs

Update .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/custom.md
Labels: docs

Rename labeler.yaml to labeler.yml
  .github/labeler.yml
Labels: none

Update issue templates (#2)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: docs

Add comprehensive unit tests for all backend code with Jest framework (#3)
  .gitignore
  docs/testing.md
  jest.config.js
  package-lock.json
  package.json
  tests/ParLightB262.test.js
  tests/__mocks__/dmx.js
  tests/api.test.js
  tests/index.test.js
  tests/setup.js
Labels: docs, base

Add v1.0.0 release with Docker Hub CI/CD pipeline and automated deployment (#4)
  .github/workflows/docker-build-push.yml
  DOCKER_SECRETS_SETUP.md
  Dockerfile
  README.MD
  docs/docker-hub-setup.md
Labels: docs, base

Add comprehensive GitHub Actions workflows for CI/CD, security, and automation (#5)
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/label.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/stale.yml
  .gitignore
  docs/development.md
  docs/github-actions.md
  package.json
Labels: docs, base

Delete .github/workflows/label.yml
  .github/workflows/label.yml
Labels: none

Fix Docker multi-platform build error and invalid tag format (#6)
  .github/workflows/docker.yml
  .github/workflows/label.yml
  DOCKER_SECRETS_SETUP.md
Labels: docs

Create comprehensive GitHub Copilot instructions for DMX Controller Agent (#8)
  .github/copilot-instructions.md
Labels: docs

Create SECURITY.md
  SECURITY.md
Labels: docs

Fix GitHub Actions SARIF upload permissions in security workflow (#9)
  .github/workflows/security.yml
Labels: none

Configure Docker workflows to only push images on tags/releases (#15)
  .github/workflows/docker-build-push.yml
  .github/workflows/docker.yml
  docs/docker-workflow-changes.md
Labels: docs

wsl
  README.MD
  docs/wsl.md
Labels: docs

dev and envs
  .env.example
  jest.config.js
  package-lock.json
  package.json
  scripts/setup-dev.sh
  scripts/test.js
  src/index.js
  tests/setup.js
Labels: script, server, base

docs
  README.MD
Labels: none

Add docker-compose.yaml for Raspberry Pi service deployment (#16)
  PI-SETUP.md
  docker-compose.yaml
Labels: docs

Update docker-compose.yaml
  docker-compose.yaml
Labels: none

Add comprehensive USB device permissions setup to Docker and Pi documentation (#17)
  PI-SETUP.md
  docs/docker.md
Labels: docs

.github/labeler.yaml:

# https://github.com/actions/labeler#match-object
docs:
- changed-files:
  - any-glob-to-any-file: '**/*.md'

device:
- changed-files:
  - any-glob-to-any-file: 'devices/**'

frontend:
- changed-files:
  - any-glob-to-any-file: 'public/**'

script:
- changed-files:
  - any-glob-to-any-file: 'scripts/**'

server:
- changed-files:
  - any-glob-to-any-file: 'src/index.js'

api:
- changed-files:
  - any-glob-to-any-file: 'src/api.js'

feature:
- head-branch: ['^feature', 'feature']
   
bug:
- head-branch: ['^bug', 'bug']
   
base:
- changed-files:
  - any-glob-to-any-file: ['package.json', 'Dockerfile']

# Add 'release' label to any PR that is opened against the `master` branch
# release:
#  - base-branch: 'master'
